<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/descricao.css" />
    <title>Vinhos Branco</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><img src="" alt="" /></li>
        <li><a id="inicio" href="/">Inicio</a></li>
        <li><a id="vinhoTinto" href="/vinhosTintos">Vinhos Tinto</a></li>
        <li><a id="cadastro" href="/cadastro">Cadastrar Vinho</a></li>
      </ul>
    </nav>

    <main>
      <section id="cards">
        <div class="card">
          <img src="<%= vinhoB.img %>" alt="vinho branco" />

          <h3><strong><%= vinhoB.nome %></strong></h3>

          <p class="numero"><strong>Nº </strong><%= vinhoB.id %></p>
          <p class="nome"><strong>Nome: </strong><%= vinhoB.nome %></p>
          <p class="uva"><strong>Uva: </strong><%= vinhoB.uva %></p>
          <p class="tipo"><strong>Tipo: </strong><%= vinhoB.tipo %></p>
          <p class="gradAlcoo">
            <strong>Graduação Alcoolica: </strong><%= vinhoB.gradAlcoo %> %
          </p>
          <p class="safra"><strong>Safra: </strong><%= vinhoB.safra %></p>
          <p class="vinhedo"><strong>Vinhedo: </strong><%= vinhoB.vinhedo %></p>
          <p class="classe"><strong>classe: </strong><%= vinhoB.classe %></p>
          <p class="classificacao">
            <strong>Classificação: </strong><%= vinhoB.classificacao %>
          </p>
          <p class="volume"><strong>Volume: </strong><%= vinhoB.volume %> ml</p>

          <a id="editar" href="/editarVB/<%= vinhoB.id%>">Editar</a>
          <a id="apagar">Apagar</a>
        </div>
      </section>

      <section id="modal-container">
        <div id="modal">
          <h2 id="msgText">Deseja realmente apagar?</h2>
          <button id="close">X</button>
          <a class="sim" href="/deleteVb/<%= vinhoB.id%>">SIM</a>
          <a class="nao" href="/descricaoVB/<%= vinhoB.id %>">NÃO</a>
        </div>
      </section>
    </main>
    <script src="../js/scriptModal.js"></script>
  </body>
</html>
