<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/principal.css" />
    <title>Catalogo</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a id="inicio" href="/">Inicio</a></li>
        <li><a id="vinhoTinto" href="/vinhosTintos">Vinhos Tinto</a></li>
        <li><a id="vinhoBranco" href="/vinhosBrancos">Vinhos Branco</a></li>
        <li><a id="cadastro" href="/cadastro">Cadastrar Vinho</a></li>
      </ul>
    </nav>

    <main>
      <header>
        <img src="./img/Banner-Vinho-Site.jpg" class="imgVinho" alt="Banner" />
      </header>

      <% if(menssagem != "") { %>
      <section id="menssagem">
        <p><%= menssagem %></p>
        <span id="close">&times;</span>
      </section>
      <% } %>
      <div class="destaque">
        <h2 id="destaqueTinto">Destaques Tinto</h2>
      </div>
      <section id="cards">
        <% vinhoTinto.forEach((vinhoT) => { %>

        <div class="card">
          <a href="/descricaoVT/<%= vinhoT.id %>"
            ><img src="<%= vinhoT.img %>" alt="Imagem do vinho"
          /></a>
          <h3><%= vinhoT.nome %></h3>
          <p></p>
        </div>

        <% }) %>
      </section>
      <div class="destaque">
        <h2 id="destaqueBranco">Destaques Branco</h2>
      </div>

      <section id="cards">
        <% vinhoBranco.forEach((vinhoB) => { %>

        <div class="card">
          <a href="/descricaoVB/<%= vinhoB.id %>"
            ><img src="<%= vinhoB.img %>" alt="Imagem do vinho"
          /></a>
          <h2><%= vinhoB.nome %></h2>
          <p></p>
        </div>

        <% }) %>
      </section>
    </main>

    <footer>
      <p>Ednilson Fragoso</p>
      <p><a href="https://github.com/">GitHub</a></p>
    </footer>

    <script src="./js/script.js"></script>
  </body>
</html>
